{% extends 'base.html' %} {% block body %}

<h2 class="w3-container w3-green" style="box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
    {{ the_title }}</h2>

<form class="w3-panel w3-card-4" method='POST' action='/search4'>
    <table class="w3-table">
        <p>Use this form to submit a search request:</p>
        <tr>
            <td>Phrase:</td>
            <td>
                <input class="w3-input" name='phrase' type='TEXT' width='60' autocomplete='off'>
            </td>
        </tr>
        <tr>
            <td>Letters:</td>
            <td>
                <input class="w3-input" name='letters' type='TEXT' value='aeiou' autocomplete='off'>
            </td>
        </tr>
    </table>
    <p>When you're ready, click this button:</p>
    <p>
        <input class="w3-btn w3-green" value='Do it!' type='SUBMIT'>
    </p>
</form>

{% endblock %}